@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
:root{
--color-fondo-principal:#fffffe;
--color-titular-principal:#00214d;
--color-parrafo-principal:#1b2d45;
--color-boton-principal:#00ebc7;
--color-destacar:#00ebc7;
--color-terciario:#fde24f;
--color-morado-text:#451F78;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:var(--color-fondo-principal);
}
header{
    width:100%;
    height:100%;
}
.header-principal{
    width:100%;
    height:100px;
    padding-left: 20px;
    padding-right: 20px;
    
    display:flex;
    justify-content:space-between;
    align-items: center;
}
figure{
    width:100px;
    height:100px;
}
#iconoMenu{
    width:100px;
    height:100px;   
}
nav{
    
    font-family: 'Montserrat', sans-serif;
}
ul{
    list-style: none;
    display:flex;
    justify-content: space-between;
}
li{
    width:100px;
    height:30px;
    margin-right:20px;
    text-align: center;
}
li > a{
   text-decoration: none;
    font-size: 20px;
    font-weight:600;
    color:var(--color-morado-text);
    margin-bottom: 10px;
  
}
li:hover{
    border-bottom: solid 5px;
    border-color: var(--color-terciario);

}
.description{
    width:100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    
}
.description-breve{
    width:40%;
    height:500px;
    padding:30px;
    
}
.description-breve > h1{
    width:100%;
    height: 30%;
    text-transform:capitalize;
    text-align: center;
    color:#451F78;
    word-spacing: 0.2rem;
}
.description-breve > p{
    width:100%;
    height:70%;
    color:var(--color-parrafo-principal);
    font-size: 1.5rem;
    text-align: justify;
    line-height: 1.4;
}
.ilustracion-menu{
    width:60%;
    height:500px;
    object-fit: cover;
}
.ilustracion-menu > img{
    width:100%;
    height:100%;
}
.sobreNosotros{
    width:100%;
    height:50vh;
    display:flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #451F78;
}
.description-sobreNosotros{
    width:750px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.description-sobreNosotros > h2{
    font-weight: 600;
    color:var(--color-fondo-principal);
    margin-bottom: 30px;
}
.description-sobreNosotros > p{
    color:aliceblue;
    text-align: justify;
    font-size: 1.5rem;
    font-weight: 400;
}
.seccion-proyectos{
    width:100%;
    height:auto;
    background-color: blueviolet;
    padding-bottom: 50px;
}
 .subtitulo{
     display: block;
    width: 100%;
    height:160px;
    padding-top: 50px;
    margin-bottom: 80px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color:#451F78 ;
   background-color: aliceblue;
}
.proyectos-contenedor{
    width:100%;
    height:100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 1fr;
    row-gap: 3.5rem;
    justify-items: center;
}
.card {
    width:250px;
    height:320px;
    background-color: #fffffe;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 7px 16px 0px rgba(0,0,0,0.75);
}

.card__cover{
width:100%;
height:60%;
}
.card__cover > img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card__content {
    padding-top: 20px;
   text-align: center;
   font-family: 'Montserrat', sans-serif;
}
.card__content > h4{
    padding-bottom: 10px;
    font-weight: 700;
}
.card__content > p{
    font-weight: 400;
}
.boton-direcionador{
    width:100%;
    height:120px;
    display:flex;
    background-color: black;
    justify-content: center;
    align-items: center;
}
.boton-direcionador > button{
    width:auto;
    height:auto;
    background-color: var(--color-terciario);
    color:var(--color-morado-text);
    padding:20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    border-radius: 10px;
    border-color: darkorange;
}
footer{
    width:100%;
    height:400px;
    background-color: #00ebc7;
}